section.section.section--xl-top
  .container
    - locals.sectionTitle = 'Getränkekarte'
    - locals.sectionDesc = 'Probieren Sie die levantische Küche mit osteuropäischer Note, das Beste aus dem Orient und Okzident.'
    include ../blocks/section-heading
    .drinks-menu.swiper 
      .drinks-menu-wrapper.swiper-wrapper 
        .drinks-menu__item.swiper-slide 
          picture.drinks-menu__image 
            img(src=require('@/images/drinks-menu/1.jpg'), alt="")
          h3.drinks-menu__title Wild Child Dry Gin 43,5 % vol.
        .drinks-menu__item.swiper-slide 
          picture.drinks-menu__image 
            img(src=require('@/images/drinks-menu/2.jpg'), alt="")
          h3.drinks-menu__title Havanna Club 3 Años 40,0 % vol.
        .drinks-menu__item.swiper-slide 
          picture.drinks-menu__image 
            img(src=require('@/images/drinks-menu/3.jpg'), alt="")
          h3.drinks-menu__title Laphroaig 10 years 40,0 % vol.
        .drinks-menu__item.swiper-slide 
          picture.drinks-menu__image 
            img(src=require('@/images/drinks-menu/4.jpg'), alt="")
          h3.drinks-menu__title Wild Child Dry Gin 43,5 % vol.
        .drinks-menu__item.swiper-slide 
          picture.drinks-menu__image 
            img(src=require('@/images/drinks-menu/5.jpg'), alt="")
          h3.drinks-menu__title Wild Child Dry Gin 43,5 % vol.
    .button-group 
      a.button-group__item.btn.btn--border(href="") 
        span.btn__inner Full Getränkekarte
      button.button-group__item.btn.btn--secondary(type="button" data-modal="reserve") 
        span.btn__inner Eventanfrage
