section.section.section--l.section--border-bottom
  .container
    .creative-wrapper
      .creative-wrapper__description 
        p Ein schönes Glas Wein
          img(src=require('@/images/c1.svg'), alt="")
          | und ein Stück köstlichen Käse mit einem Stück frischem Brot 
          img(src=require('@/images/c2.svg'), alt="")
          | mehr braucht man nicht, um im höchsten Genuss zu schwelgen.
      button.creative-wrapper__btn.btn.btn--secondary(type="button" data-modal="reserve")
        span.btn__inner Book a table
    .features-bar.swiper 
      .features-bar__wrapper.swiper-wrapper 
        .features-bar__item.swiper-slide 
          picture.features-bar__image
            img(src=require('@/images/features-bar/1.svg'), alt="")
          h3.features-bar__title Reichhaltige Getränkeauswahl
        .features-bar__item.swiper-slide 
          picture.features-bar__image
            img(src=require('@/images/features-bar/2.svg'), alt="")
          h3.features-bar__title Gemütliche Atmosphäre
        .features-bar__item.swiper-slide 
          picture.features-bar__image
            img(src=require('@/images/features-bar/3.svg'), alt="")
          h3.features-bar__title Feine Köstlichkeiten aus aller Welt
        .features-bar__item.swiper-slide 
          picture.features-bar__image
            img(src=require('@/images/features-bar/4.svg'), alt="")
          h3.features-bar__title Regelmäßige Events
