-
  locals.menu = [
    {
      name:'Home', 
      link: `${htmlWebpackPlugin.options.path}`, 
    },
    {
      name:'Events', 
      link: `${htmlWebpackPlugin.options.path}/events.html`, 
    },
    {
      name:'Bar', 
      link: `${htmlWebpackPlugin.options.path}/bar.html`, 
    },
    {
      name:'Kegel', 
      link: `${htmlWebpackPlugin.options.path}/kegel.html`, 
    },
    {
      name:'Galerie', 
      link: `${htmlWebpackPlugin.options.path}/gallery.html`, 
    },
    {
      name:'Menü', 
      link: `${htmlWebpackPlugin.options.path}/menu.html`, 
    },
    {
      name:'Karrier', 
      link: `${htmlWebpackPlugin.options.path}/career.html`, 
    },
    {
      name:'Menü', 
      link: `${htmlWebpackPlugin.options.path}/menu.html`, 
    },
    {
      name:'Kontakt', 
      link: `${htmlWebpackPlugin.options.path}/contacts.html`, 
    },
  ]

