include ../modules/vars
include ../modules/mixins

doctype html
html(lang="de")

  head
    meta(charset="utf-8")
    title !{title}
    meta(http-equiv='X-UA-Compatible' content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
  body(class= page=='home' ? 'home' : '')
    include ../partials/header

    main.main.main--single
      block content

    include ../partials/footer
    aside.feedback-sidebar
      ul.feedback-sidebar__list 
        li.feedback-sidebar__item
          a.feedback-sidebar__link(href="tel:" target="_blank")
            img.feedback-sidebar__icon(src=require('@/images/phone.svg'), alt="") 
        li.feedback-sidebar__item
          a.feedback-sidebar__link(href="tel:" target="_blank")
            img.feedback-sidebar__icon(src=require('@/images/mail.svg'), alt="") 
        li.feedback-sidebar__item
          a.feedback-sidebar__link(href="tel:" target="_blank")
            img.feedback-sidebar__icon(src=require('@/images/wa.svg'), alt="") 
        li.feedback-sidebar__item
          button.feedback-sidebar__link(type="button" data-modal="reserve")
            img.feedback-sidebar__icon(src=require('@/images/calendar.svg'), alt="") 

